= form_with model: disc, local: true do |f|
  -# .SettingGroupForm__errors
    -# %h2 10件のエラーが発生しました
    -# %ul
    -#   %li CDnameを入力してください
  .SettingDiscForm__field
    .SettingDiscForm__leftField
      = f.label :name, "CDの名前", class: 'SettingDiscForm__label'
    .SettingDiscForm__rightField
      = f.text_field :name, class: 'SettingDiscForm__input', placeholder: 'CDの名前を入力してください'
  .SettingDiscForm__field
    .SettingDiscForm__leftField
      %label.SettingDiscForm__label CDに入っている曲を選択
    .SettingDiscForm__rightField
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      = f.collection_check_boxes :song_ids, Song.all, :id, :name
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .SettingDiscForm__field
    .SettingDiscForm__leftField
    .SettingDiscForm__rightField-upDateBtn
      - if controller.action_name == "edit"
        = f.submit "更新", class: 'SettingDiscForm__buttonUP'
      -else
        = f.submit "登録", class: 'SettingDiscForm__buttonUP'