.AllMain
  .SenterBox
    .CategrySpace
    .CdList
      - @discs.each do |disc|
        = link_to disc_path(disc), method: :get, class: "CdList" do
          %div.Song-name
            = "「#{disc.name}」"

  .header-other
    = render 'songcolors/header'
  .CreatBtn
    = render 'makeform'