.DiscShowBace
  .DiscShowBace_box
    .DiscShow
      .CDimage
      .SongName
        = "「#{@disc.name}」"
      .Song_Days
        .Song_Release
          %div 2019.7.24　Release(sample)
          %div ¥1.400＋税
      .EditSpace
        .EditBtn
          = link_to "編集", edit_disc_path(@disc), class: "cdList"
    .ListBackBtn
      = link_to "一覧に戻る", discs_path

.header-other
  = render 'songcolors/header'